<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Resilient Search</title>
</head>

<body background={{url_for('static', filename='pics/background.png')}} ;background-size:100% 100%;>
	<form method="POST" action="/search" style=" width:380px; margin:30px auto; margin-left:-190px;font-size: 14px; position: absolute;left: 50%;top: 20%">
		<input type="search" name="keyWord" style="width: 260px;height: 30px; float left; padding: 0 0 0 40px;">
		<input type="submit" value="search" style=" width:78px; height: 32px; float right; background: white; color: black; text-align: center;"> 
	</form>
</body>


</html>
